[package]
name = "temper"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.4", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
hex = "0.4"
serialport = { version = "4.2", default-features = false }
nix = { version = "0.27", features = ["fs", "poll"] }
regex = "1.10"
anyhow = "1.0"
byteorder = "1.4"

